# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables and secret files
.env

# Ignore virtual environment
venv/

# Ignore SQLite database files
*.db

# Ignore log files
*.log
logs/
# Ignore static files
staticfiles/

